<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE chapter PUBLIC "-//OASIS//DTD DocBook XML V4.5//EN" "file://zonbook/docbookx.dtd"
[
    <!ENTITY % xinclude SYSTEM "file://AWSShared/common/xinclude.mod">
    %xinclude;
    <!ENTITY % phrases-shared SYSTEM "file://AWSShared/common/phrases-shared.ent">
    %phrases-shared;
    <!ENTITY % phrases-appmesh SYSTEM "../shared/phrases-app-mesh.ent"> 
    %phrases-appmesh;
]>

<section role="topic" id="routes">
    <info>
        <title id="routes.title">Routes</title>
    </info>
    <para>A route is associated with a virtual router. The route is used to match requests for the
        virtual router and to distribute traffic to its associated virtual nodes. If a route matches
        a request, it can distribute traffic to one or more target virtual nodes. You can specify
        relative weighting for each virtual node. This topic helps you work with routes in a service
        mesh.</para>
    <section id="create-route">
        <info>
            <title id="create-route.title">Creating a route</title>
        </info>
        <para>To create a route using the &CLI; version &aws_cli_min_version; or later, see the
            examples in the &CLI; reference for the <ulink type="documentation"
                url="cli/latest/reference/appmesh/create-route.html">create-route</ulink>
            command.</para>
        <procedure>
            <title>To create a route using the &console;</title>
            <step>
                <para>&MESHConsoleSwitch;</para>
            </step>
            <step>
                <para>Choose the mesh that you want to create the route in. All of the meshes that
                    you own and that have been <link linkend="sharing">shared</link> with you are
                    listed.</para>
            </step>
            <step>
                <para>Choose <guilabel>Virtual routers</guilabel> in the left navigation.</para>
            </step>
            <step>
                <para>Choose the virtual router that you want to associate a new route with. If none
                    are listed, then you need to <link linkend="create-virtual-router">create a
                        virtual router</link> first.</para>
            </step>
            <step>
                <para>In the <guilabel>Routes</guilabel> table, choose <guilabel>Create
                        route</guilabel>. To create a route, your account ID must be listed as the
                        <guilabel>Resource owner</guilabel> of the route.</para>
            </step>
            <step>
                <para>For <guilabel>Route name</guilabel>, specify the name to use for your
                    route.</para>
            </step>
            <step>
                <para>For <guilabel>Route type</guilabel>, choose the protocol that you want to
                    route. The protocol that you select must match the listener protocol that you
                    selected for your virtual router and the virtual node that you&apos;re routing
                    traffic to.</para>
            </step>
            <step>
                <para>(Optional) For <guilabel>Route priority</guilabel>, specify a priority from
                    0-1000 to use for your route. Routes are matched based on the specified value,
                    where 0 is the highest priority.</para>
            </step>
            <step>
                <para>For <guilabel>Virtual node name</guilabel>, select the existing &MESH; virtual
                    node to route traffic to and specify a <guilabel>Weight</guilabel>. You can
                    choose <guilabel>Add target</guilabel> to add additional targets. The percentage
                    for all targets must add up to 100. If no virtual nodes are listed, then you
                    must <link linkend="vn-create-virtual-node">create</link> one first.</para>
            </step>
            <step>
                <para>(Optional) Choose <guilabel>Additional configuration</guilabel>. From the
                    following protocols, choose the protocol that you selected for <guilabel>Route
                        type</guilabel>, specify settings in the console as desired, and then select
                        <guilabel>Create route</guilabel>.</para>
            </step>
        </procedure>
        <collapsible expand-section="_collapse_all_">
            <section id="grpc">
                <info>
                    <title id="http-http2.title">gRPC</title>
                </info>
                <itemizedlist>
                    <info>
                        <title id="method">(Optional) <guilabel>Match</guilabel></title>
                    </info>
                    <listitem>
                        <para>(Optional) Enter the <guilabel>Service name</guilabel> of the
                            destination service to match the request for. If you don't specify a
                            name, requests to any service are matched.</para>
                    </listitem>
                    <listitem>
                        <para>(Optional) Enter the <guilabel>Method name</guilabel> of the
                            destination method to match the request for. If you don't specify a
                            name, requests to any method are matched. If you specify a method name,
                            you must specify a service name.</para>
                    </listitem>
                </itemizedlist>
                <itemizedlist>
                    <info>
                        <title id="headers">(Optional) <guilabel>Metadata</guilabel></title>
                    </info>
                    <para>Choose <guilabel>Add metadata</guilabel>.</para>
                    <listitem>
                        <para>&mesh-route-metadata;</para>
                    </listitem>
                    <listitem>
                        <para>&mesh-route-metadata-addtl; </para>
                    </listitem>
                </itemizedlist>
                <itemizedlist>
                    <info>
                        <title id="grpc-retry-policy">(Optional) <guilabel>Retry
                            policy</guilabel></title>
                    </info>
                    <para>&mesh-route-retry-intro;</para>
                    <listitem>
                        <para>&mesh-route-retry-timeout;</para>
                    </listitem>
                    <listitem>
                        <para>&mesh-route-retry-timeout-unit;</para>
                    </listitem>
                    <listitem>
                        <para>&mesh-route-retry-max-retries;</para>
                    </listitem>
                    <listitem>
                        <para>&mesh-route-retry-http-events;</para>
                    </listitem>
                    <listitem>
                        <para>&mesh-route-retry-tcp-events;</para>
                    </listitem>
                    <listitem>
                        <para>&mesh-route-retry-grpc-events;</para>
                    </listitem>
                </itemizedlist>
                <itemizedlist>
                    <info>
                        <title id="grpc-route-timeouts"><guilabel>(Optional)
                            Timeouts</guilabel></title>
                    </info>
                    <listitem>
                        <para>The default is 15 seconds. If you specified a <guilabel>Retry policy</guilabel>, then the
                            duration that you specify here should always be greater than or equal to
                            the retry duration multiplied by the <guilabel>Max retries</guilabel> that you defined in the
                            <guilabel>Retry policy</guilabel> so that your retry policy can complete. If you specify a
                            duration greater than 15 seconds, then make sure that the timeout
                            specified for the listener of any virtual node <guilabel>Target</guilabel> is also greater
                            than 15 seconds. For more information, see <ulink
                                url="https://docs.aws.amazon.com/app-mesh/latest/userguide/virtual_nodes.html"
                                >Virtual Nodes</ulink>.</para>
                    </listitem>
                    <listitem>
                        <para>A value of <code>0</code> disables the timeout. </para>
                    </listitem>
                    <listitem>
                        <para>The maximum amount of time that the route can be idle.</para>
                    </listitem>
                </itemizedlist>
            </section>
            <section id="http-http2">
                <info>
                    <title id="http-http2.title">HTTP and HTTP/2</title>
                </info>
                <itemizedlist>
                    <info>
                        <title id="method">(Optional) Match</title>
                    </info>
                    <listitem>
                        <para>&mesh-route-prefix;</para>
                    </listitem>
                    <listitem>
                        <para>&mesh-route-method;</para>
                    </listitem>
                    <listitem>
                        <para>&mesh-route-scheme;</para>
                    </listitem>
                </itemizedlist>
                <itemizedlist>
                    <info>
                        <title id="headers">(Optional) Headers</title>
                    </info>
                    <listitem>
                        <para>&mesh-route-header; &mesh-route-header-example;</para>
                    </listitem>
                    <listitem>
                        <para>&mesh-route-header-addtl;</para>
                    </listitem>
                </itemizedlist>
                <itemizedlist>
                    <info>
                        <title id="http-retry-policy"><guilabel>(Optional) Retry
                            policy</guilabel></title>
                    </info>
                    <para>&mesh-route-retry-intro;</para>
                    <listitem>
                        <para>&mesh-route-retry-timeout;</para>
                    </listitem>
                    <listitem>
                        <para>&mesh-route-retry-timeout-unit;</para>
                    </listitem>
                    <listitem>
                        <para>&mesh-route-retry-max-retries;</para>
                    </listitem>
                    <listitem>
                        <para>&mesh-route-retry-http-events;</para>
                    </listitem>
                    <listitem>
                        <para>&mesh-route-retry-tcp-events;</para>
                    </listitem>
                </itemizedlist>
                <itemizedlist>
                    <info>
                        <title id="http-route-timeouts"><guilabel>(Optional)
                            Timeouts</guilabel></title>
                    </info>
                    <listitem>
                        <para>&route-timeout-request;</para>
                    </listitem>
                    <listitem>
                        <para>&route-timeout-idle;</para>
                    </listitem>
                    <listitem>
                        <para>A value of <code>0</code> disables the timeout.</para>
                    </listitem>
                </itemizedlist>
                <note>
                    <para> If you specify a timeout greater than the default, make sure that the
                        timeout specified for the listener for all virtual node participants is also
                        greater than the default. However, if you decrease the timeout to a value
                        that is lower than the default, it's optional to update the timeouts at
                        virtual nodes. For more information, see <ulink
                            url="https://docs.aws.amazon.com/app-mesh/latest/userguide/virtual_nodes.html"
                            >Virtual Nodes</ulink>.</para>
                </note>
            </section>
            <section id="tcp">
                <info>
                    <title id="http-http2.title">TCP</title>
                </info>
                <itemizedlist>
                    <info>
                        <title id="tcp-route-timeouts"><guilabel>(Optional)
                            Timeouts</guilabel></title>
                    </info>
                    <listitem>
                        <para>&route-timeout-idle;</para>
                    </listitem>
                    <listitem>
                        <para>A value of <code>0</code> disables the timeout.</para>
                    </listitem>
                </itemizedlist>
            </section>
        </collapsible>
    </section>
    <section id="delete-route">
        <info>
            <title id="delete-route.title">Deleting a route</title>
        </info>
        <para>To delete a route using the &CLI; version &aws_cli_min_version; or higher, see the
            example in the &CLI; reference for the <ulink type="documentation"
                url="cli/latest/reference/appmesh/delete-route.html"
                ><code>delete-route</code></ulink> command.</para>
        <procedure>
            <title>To delete a route using the &console;</title>
            <step>
                <para>&MESHConsoleSwitch;</para>
            </step>
            <step>
                <para>Choose the mesh that you want to delete a route from. All of the meshes that
                    you own and that have been <link linkend="sharing">shared</link> with you are
                    listed.</para>
            </step>
            <step>
                <para>Choose <guilabel>Virtual routers</guilabel> in the left navigation.</para>
            </step>
            <step>
                <para>Choose the router that you want to delete a route from.</para>
            </step>
            <step>
                <para>In the <guilabel>Routes</guilabel> table, choose the route that you want to
                    delete and select <guilabel>Delete</guilabel>.</para>
            </step>
            <step>
                <para>In the confirmation box, type <userinput>delete</userinput> and then select
                        <guilabel>Delete</guilabel>.</para>
            </step>
        </procedure>
    </section>
</section>
